<%- include('../partials/head') %>

  <body>
    <!-- Navbar (sit on top) -->
    <%- include('../partials/navbar') %>

    <!-- Page content -->
    <div class="ps-content">

      <!-- Menu Section -->
      <div class="ps-row ps-padding-64" id="menu">
        <div class="ps-col l6 ps-padding-large">
          <h1 class="ps-center"><%= dish.name %></h1>
          <br />
          <% if (dish.longDescription == undefined) { %>
            <h2>Plato típico</h2>
            <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque, qui accusamus? Veritatis cum iure repudiandae facilis placeat nihil iusto nulla natus. Cupiditate itaque, aperiam porro esse quaerat minus corrupti debitis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nobis facere vero ea libero incidunt, aut unde impedit. Odit rem sunt inventore deserunt a placeat laudantium neque, non delectus doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nihil magnam voluptatum eum, delectus quibusdam praesentium sint? Totam omnis et laborum velit repudiandae! Eligendi recusandae dolore omnis provident odit voluptates?</h4>
          <% } else { %>
            <h4><%= dish.longDescription %></h4>
          <% } %>
          <p class="ps-text-grey">
            <%= dish.description %>
          </p>
          <p class="ps-text-grey">
            <%= dish.price %>
          </p>
        </div>

        <div class="ps-col l6 ps-padding-large ps-img-menu">
          <img
            src="<%= dish.img %>"
            class="ps-round ps-image ps-opacity-min"
            alt="Menu"
          />
        </div>
      </div>

      <!-- Footer -->
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
