<%- include('./partials/head') %>

  <body>
    <!-- Navbar (sit on top) -->
    <%- include('./partials/navbar') %>

    <!-- Header -->
    <%- include('./partials/header') %>

    <!-- Page content -->
    <div class="ps-content">
      <!-- About Section -->
      <%- include('./partials/about') %>
        
      <hr />
      <!-- Menu Section -->
      <%- include('./products/menu') %>

      <!-- Footer -->
      <%- include('./partials/footer') %>
    </div>
  </body>
</html>
